<ion-header>
  <ion-toolbar>
      <ion-back-button></ion-back-button>
      <ion-title>customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-list>
      <ion-avatar>
        <img src="./../../assets/icon/favicon.png" alt="">
      </ion-avatar>
      <h2>Abdullah Chisti</h2>
      <p><ion-icon name="location-outline"></ion-icon>Pakpattan</p>
    </ion-list>
  </ion-row>

<div>
  <ion-item>
    <ion-label position="stacked">My Membership</ion-label>
    <p>Lorem ipsum dolor sit amet.</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">About</ion-label>
    <p>Lorem ipsum dolor sit amet.</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Lorem Ipsum</ion-label>
    <p>Lorem ipsum dolor sit amet.</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contact Us</ion-label>
    <p>+923013983493</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Lorem</ion-label>
    <p>Lorem ipsum dolor sit amet.</p>
  </ion-item>
</div>

</ion-content>
